// background color
$c-grey_1: #eeeeee;
$c-grey_2: #cecece;
$c-blue_1: #6b9ed3;
$c-blue_2: #4169e1;
$c-white: #fff;
$c-red: #eb5757;
$c-orange: #fa3;

// text color
$c-text_1: #666666;
$c-text_2: #333333;
$c-text_3: $c-white;
$c-text_4: $c-red;
$c-text_5: $c-blue_1;

// border color
$c-border_1: $c-grey_1;
$c-border_2: $c-grey_2;
$c-border_3: $c-blue_2;
$c-border_4: $c-text_1;
