@import "./static/scss/variables";

main {
	max-width: 598px;
	padding: 16px;
	background-color: $c-grey_1;

	.user {
		&-image {
			width: 150px;
			height: 150px;
			border-radius: 100%;
			border: 2px $c-border_4 solid;
			margin: 16px auto 0;
		}

		&-name {
			color: $c-text_2;
			text-decoration: none;
		}

		&-login {
			color: $c-text_1;
		}

		&-location {
			color: $c-text_1;
		}
	}
}